.event {
    border: 1px solid black;
  }

  .event td {
    border-bottom: 1px solid black;
    padding: 10px;
  }

  .event:nth-child(odd) td {

    background-color: rgb(231, 231, 231);
  }

 .event {
  border: 10px solid black;
 }
  
  .event:hover {
    cursor: pointer;

  }
  
  .event:active {
    
  }
  
  /* .event h5 {
    opacity: .4;
  }
  
  .event h4 {
    opacity: .6;
  }
   */