.dropdown-menu p {
    border: 1px solid black;
    text-align: center;
    width: 100px;
    margin: 0;
    cursor: pointer;
}

.dropdown-menu p:hover {
    background-color: rgb(137, 237, 255);
}
.dropdown-menu p:active {
    background-color: rgb(0, 0, 0);
    color: white;
}





/* Home Page */

/* Hero */

.home-hero {
    width: 100%;
    height: 500px;
    background-image: url("/src/images/golden-temple.jpg");
    background-position: center;
    background-size: 100%;
    /* padding-top: 10%;
    padding-bottom: 10%; */
    position: relative;
}

.home-hero div {
    position: absolute;
    top: 50px;
    right: 0px;

    background-color: rgba(255, 255, 255, 0.632);
    padding: 1%;
    width: 28%;
}

.home-hero div h1 {
    font-weight: 700;
    color: var(--purple-shade);
}

.home-hero form {
    width: 100%;
    gap: 2%;
}

.home-hero button {
  margin-left: 2%;
  border: 1px solid black;
}

.home-hero input {
  width: 170px;
}

.signup-btn {
    cursor: pointer;
    border: none;
    background: var(--purple-shade);
    color: var(--orange-shade);
    border-radius: 10px;
    width: 120px;
    font-size: 15px;
    padding: 0 6px 0 6px;
}

.sign-up-custom .signup-btn {
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.su-active {
    color: black;
    border: 1px solid black;
    background: var(--purple-shade);
    border-radius: 10px;
    width: 120px;
    padding: 0 3px 0 3px;
    font-weight: 700;
}

.login-link:nth-child(1) {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 3% 0 3%;
}

.signup-btn:nth-child(2) {
    margin: 10px;
    width: 140px;
}




.l-cal .bk-slot {
    height: fit-content;
    text-align: center;
    padding-bottom: 20px;
}

.l-cal h2 {
    text-align: center;
}





.mid-sec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--orange-shade);
}



@media screen and (max-width: 900px) { 
    .l-cal {
        background-color: var(--orange-shade);
    }
    .mid-sec {
        display: block;
    }
}
