.dropdown-menu p {
    border: 1px solid black;
    text-align: center;
    width: 100px;
    margin: 0;
    cursor: pointer;
}

.dropdown-menu p:hover {
    background-color: rgb(137, 237, 255);
}
.dropdown-menu p:active {
    background-color: rgb(0, 0, 0);
    color: white;
}





/* Home Page */

/* Hero */

.home-hero {
    width: 100%;
    height: 500px;
    background-image: url("/src/images/golden-temple.jpg");
    background-position: center;
    background-size: 100%;
    /* padding-top: 10%;
    padding-bottom: 10%; */
    position: relative;
}

.home-hero div {
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.632);
    padding: 1%;
    width: 28%;
}

.home-hero div h1 {
    font-weight: 700;
    color: var(--purple-shade);
}

.home-hero form {
    width: 100%;
    gap: 2%;
}

.home-hero button {
  margin-left: 2%;
  border: 1px solid black;
}

.home-hero input {
  width: 170px;
}

.signup-btn {
    cursor: pointer;
    border: none;
    background: var(--purple-shade);
    color: var(--orange-shade);
    border-radius: 10px;
    width: 120px;
    font-size: 15px;
    padding: 3px 6px 3px 6px;
}


.sign-up-custom:nth-child(2) {
    border: 3px solid blue;
}

.home-hero .signup-btn:nth-child(2) {
    margin: 10px;
    width: 140px;
}


.sign-up-custom .signup-btn .login-link {
   
   width: 60px;
   padding: 0;
   margin: 0;
   text-align: center;
   padding: 2px 10px 2px 10px;
}

.sign-up-custom .signup-btn {
    padding: 0;
    width: fit-content;
}




.l-cal .bk-slot {
    height: fit-content;
    text-align: center;
    padding-bottom: 20px;
}

.l-cal h2 {
    text-align: center;
}





.mid-sec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--orange-shade);
}



@media screen and (max-width: 900px) { 
    .l-cal {
        background-color: var(--orange-shade);
    }
    .mid-sec {
        display: block;
    }
}

@media screen and (max-width: 600px) { 
    .home-hero div {
        width: 70%;
        top: 380px;
        font-size: 13px;
    }
    .home-hero div input {
        width: 100%;
        display: none;
    }
}


