.manage-evt {
    background-color: var(--purple-shade);
    height: 100vh;
}

.manage-evt h2 {
    text-align: center;
}

#h-p {
    background-color: rgb(246, 210, 110);
}

#h-l {
    background-color: rgb(101, 158, 228);
}

.manage-p {
    background-color: var(--orange-shade);
}

.manage-l {
    background-color: var(--blue-shade);
}

.cr-ev-btn {
    text-align: center;
    font-size: 20pt;
    color: black;
}